
<app-topbar></app-topbar>
<div style="padding-bottom: 2px;"></div>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="sidebar">
      <ul >
        <li *ngFor="let item of sidebarItems;" (click)="selectItem(item)"  >
            <br>
          <i [ngClass]="getIconClass(item)" class="sidebar-icon"></i> 
          <span class="sidebar-text">{{ item }}</span>
  
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <div class="container">
        <mat-card class="card">
            <mat-card-header>
                
                <div style="font-weight: 550; font-size:x-large; color: #34347a;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">assignment_add:- {{selectedRow}} </div></mat-card-header>
                <mat-card-content class="first card">
                <div style="font-weight: 550; font-size:large; color: #34347a;margin-top: 48px;">badge:- {{selectedRowuser}} </div>
             </mat-card-content>
              
            <br></mat-card>
            <mat-card class="car">
          <mat-card-header>
            <div style="font-weight: 550; font-size: large; color: #34347a;">{{ selectedSidebarItem }}</div>
            <div class="controller">
              <!-- Your controller content here -->
            </div>
          </mat-card-header><br>
          <mat-card-content class="card-content">
            <div class="content-wrapper">
            <div class="left-buttons">
              
              <button  class="icon-button" style="height: 24px; background-color: #34347a;"  (click)="openDialog()">
                <mat-icon style="color: aliceblue;" class="icon">add</mat-icon>
                <span class="text" style="color: aliceblue;font-size: small; ">Add New Task</span>
                <mat-icon style="color: aliceblue;" class="endcon">expand_more</mat-icon>
              </button>
             
              <button  class="icon-button" style="height: 24px;">
                <mat-icon style="color: #34347a;" class="icon">file_download</mat-icon>
                <span class="text" style="color: #34347a; font-size:small;">Export</span>
                <mat-icon style="color: #34347a;" class="endcon">expand_more</mat-icon>
              </button>
              <div *ngIf="isRowSelected">
              <button  class="icon-button" style="height: 24px; background: #34347a;" (click)="onDialog()">
                <mat-icon style="color: aliceblue;" class="icon">edit</mat-icon>
                <span class="text" style="color: aliceblue; font-size:small;">Edit</span>
                <mat-icon style="color: aliceblue;" class="endcon">expand_more</mat-icon>
              </button></div>
              <div *ngIf="isRowSelected">
                <button  class="icon-button" style="height: 24px; background-color: #f55d5d;" (click)="deleteSelectedRow()">
                  <mat-icon style="color: aliceblue;" class="icon">delete</mat-icon>
                  <span class="text" style="color: aliceblue; font-size:small;">Delete</span>
                  <mat-icon style="color: aliceblue;" class="endcon">expand_more</mat-icon>
                </button>
              
                <!-- <button  class="icon-button" style="height: 24px;">
                  <mat-icon style="color: aliceblue;" class="icon">file_download</mat-icon>
                  <span class="text" style="color: aliceblue; font-size:small;">Export</span>
                  <mat-icon style="color: aliceblue;" class="endcon">expand_more</mat-icon>
                </button> -->
              </div>
  
  
            </div>
  
            <div class="right-buttons">
             
              <div class="form-field">
                <label class="label">Filter</label>
                <form class="example-form" >
                  
                  <div class="input-container">
                    <input type="text" placeholder="All" class="example-input">
                    <span class="suffix-icon">
                      <i class="material-icons" >expand_more</i>
                    </span>
                  </div>
                  
                         
                </form>
              </div>
             
             
              <div class="form-field">
                <label class="label">View</label>
                <form class="example-form">
                  <div class="input-container">
                    <input type="text" placeholder="Text View" class="example-input">
                    <span class="suffix-icon">
                      <i class="material-icons">expand_more</i>
                    </span>
                  </div>
                </form>
              </div>
              <div class="form-field">
                <label class="label">Grouping</label>
                <form class="example-form">
                  <div class="input-container">
                    <input type="text" placeholder="Nothing" class="example-input">
                    <span class="suffix-icon">
                      <i class="material-icons">expand_more</i>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="search-container">
        <form >
          <div class="input-container">
<input type="text" (input)="applyFilter($event)" placeholder="Search" />
            <span class="suffix-icon">
              <i class="material-icons">search</i>
            </span>
          </div>
        </form>
        </div>
  
        <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" >
  
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            
            <th mat-header-cell *matHeaderCellDef  class="column-cell match">
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="column-cell match">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        
          <!-- Position Column -->
          
          <ng-container matColumnDef="no"  >
            <th mat-header-cell *matHeaderCellDef class="column-cell  co" style="padding-left: 40px;"> no# </th>
            <td mat-cell *matCellDef="let data" class="column-cell task"> 
              <button mat-icon-button 
                      [style.visibility]="!data.expandable ? 'hidden' : ''"
                      [style.marginLeft.px]="data.level * 32"
                      (click)="treeControl.toggle(data)">
                <mat-icon >
                  {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
        
              {{data.no}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef class="column-cell  col"> Name </th>
            <td mat-cell *matCellDef="let data" class="column-cell"> 
              <input *ngIf="data.editMode" [(ngModel)]="data.name" (keydown.enter)="onSave(data)"class="edit-input">
              <div *ngIf="!data.editMode" (click)="onEdit(data)">{{ data.name }}</div> </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="assignment">
            <th mat-header-cell *matHeaderCellDef class="column-cell c"> Assignment </th>
            <td mat-cell *matCellDef="let element" class="column-cell"> 
              <input *ngIf="element.editMode" [(ngModel)]="element.assignment" (keydown.enter)="onSave(element)"class="edit-input">
              <div *ngIf="!element.editMode" (click)="onEdit(element)">{{ element.assignment }}</div> </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef class="column-cell dura"> Duration </th>
            <td mat-cell *matCellDef="let element" class="column-cell  description">
                <input *ngIf="element.editMode" [(ngModel)]="element.duration"(keydown.enter)="onSave(element)"class="edit-input">
              <div *ngIf="!element.editMode" (click)="onEdit(element)">{{ element.duration }}</div> </td>
          </ng-container>
  
          <ng-container matColumnDef="planhour">
            <th mat-header-cell *matHeaderCellDef class="column-cell plan"> Plan Hour </th>
            <td mat-cell *matCellDef="let element" class="column-cell percent "> 
              <input *ngIf="element.editMode" [(ngModel)]="element.planhour" (keydown.enter)="onSave(element)"class="edit-input">
              <div *ngIf="!element.editMode" (click)="onEdit(element)">{{ element.planhour }}</div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="starton">
            <th mat-header-cell *matHeaderCellDef class="column-cell date ">  Start On </th>
            <td mat-cell *matCellDef="let element" class="column-cell date "> 
              <input *ngIf="element.editMode" [(ngModel)]="element.starton" (keydown.enter)="onSave(element)"class="edit-input">
              <div *ngIf="!element.editMode" (click)="onEdit(element)">{{ element.starton }}</div> </td>
          </ng-container>

          <ng-container matColumnDef="dueon">
            <th mat-header-cell *matHeaderCellDef class="column-cell date ">  Due On </th>
            <td mat-cell *matCellDef="let element" class="column-cell date "> 
              <input *ngIf="element.editMode" [(ngModel)]="element.dueon" (keydown.enter)="onSave(element)"class="edit-input">
              <div *ngIf="!element.editMode" (click)="onEdit(element)">{{ element.dueon }}</div>  </td>
          </ng-container>

          <ng-container matColumnDef="percent">
            <th mat-header-cell *matHeaderCellDef class="column-cell date ">  Percent </th>
            <td mat-cell *matCellDef="let element" class="column-cell date "> 
              <input *ngIf="element.editMode" [(ngModel)]="element.percent" (keydown.enter)="onSave(element)"class="edit-input">
              <div *ngIf="!element.editMode" (click)="onEdit(element)">{{ element.percent }}</div> </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns " class="header-row"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)=" onRowClick(row) "   [class.selected]="selection.isSelected(row)  " >
          </tr>

          <tr class="end-table-line"></tr>
        </table>
          
        <mat-paginator
        [length]="totalItems"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)"
      ></mat-paginator>

        
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
  
