<h2 mat-dialog-title>Add People</h2>
<mat-dialog-content class="mat-typography">
   <tr > <td style="padding-right: 15px;"><div class="form-field" style="margin-bottom: 20px;" >
        <label class="label">Name</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input" [(ngModel)]="this.name"[ngModelOptions]="{standalone: true}">
                
            </div>
        </form>
    </div></td>
   <td> <div class="form-field">
        <label class="label">Email</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input" [(ngModel)]="this.email" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div></td></tr><tr> 
    <div class="form-field" style="margin-bottom: 20px;">
        <label class="label">JobInfo</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input"  [(ngModel)]="this.jobinfo" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div>
    <!-- <div class="form-field" style="margin-bottom: 20px;">
        <label class="label">Project type</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input" [(ngModel)]="this.planstart" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div> -->
    <td style="padding-right: 15px;"><div class="form-field">
        <label class="label">Phone</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input"[(ngModel)]="this.phone" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div></td></tr>
   <!-- <td style="padding-right: 15px;"> <div class="form-field">
        <label class="label">Start Date</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input">
            </div>
        </form>
    </div></td>  -->
     <td> <div class="form-field"style="margin-bottom: 20px;">
        <label class="label">Address</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input"style="width: 300px; height: 50px;" [(ngModel)]="this.address" [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div></td>
    <!-- <div class="form-field">
        <label class="label">Planned To Completion</label>
        <form class="example-form">
            <div class="input-container">
                <input type="text" class="example-input">
            </div>
        </form>
    </div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="Addpeople()" cdkFocusInitial>Done</button>
</mat-dialog-actions>
