
  
  <mat-toolbar class="shadow-toolbar" style="background-color: white   " >
    <div>
        <img src="assets/logo.png" >
    </div>
    <mat-icon class="icon">format_align_right</mat-icon>
    <span class="example-spacer"></span>
    <div class="topnav">
      <a href="#home" >Home</a>
      <a href="projects" >Projects</a>
      <a href="portfolio">Portfolios</a>
      <a href="#about">Requests</a>
      <a href="#about" >Reporting</a>
      <a href="people" >People</a>
      <a href="#about">Timesheet</a>
    </div>
 
    <form style="margin-left: 280px;" >
     
       
        <input  placeholder="Search" #input>
        
     
    </form>
  <mat-icon style="padding-left: 15px;padding-top: 13px; size: 4px;color: #d3d4d4;" >settings</mat-icon>
 
   
    <mat-icon matBadge="15" matBadgeColor="warn" style="padding-left: 15px;padding-top: 13px; size: 4px;color: #d3d4d4;">notifications</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
         15
      </span>
      <a  (click)="logout()">
        <div class="circle" style="margin-left: 2%;" matTooltip="Logout" matTooltipPosition="above">US</div>
      </a>



  </mat-toolbar>
  